<?xml version="1.0"?>
<configuration>
<startup>
  <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
</startup>
  <appSettings>
    <add key="endpoint" value="http://bunny.laststation.net:8080/"/>
    <add key="node" value="no-node-name-provided-win-vm"/>
  </appSettings>
</configuration>
